/* ===========================
   ====== Search Box ======
   =========================== */

body {
  background: #f9f9f9;
}

.search-container {
  margin-top: 6px;
  background: #ffffff;
}

.search
{
  border: 2px solid #CF5C3F;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.search input[type="text"]
{
  border: 0px;
  width: 67%;
  padding: 10px 10px;
}

.search input[type="text"]:focus
{
  outline: 0;
}

.search input[type="submit"]
{
  border: 0px;
  background: none;
  background-color: #CF5C3F;
  color: #fff;
  float: right;
  padding: 10px;
  border-radius-top-right: 5px;
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-right: 5px;
  border-radius-bottom-right: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
  cursor:pointer;
}

.dropbtn {
  display: block;
  position: static;
  background-color: #CF5C3F;
  color: white;
  padding: 12px;
  width: 1750px;
  font-size: 16px;
  border: 2px solid #CF5C3F;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 94%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.display_j {
  color: #1B5E20;
}

/* ===========================
   ====== Medua Query for Search Box ======
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
{}

  .search, .dropdown, .dropdown-content, .dropbtn
  {
    width: 96%;
    margin: 0 auto;
  }
}